h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    border: 2px solid goldenrod;
    margin: 0 auto;
}

thead { 
    font-size: larger;   
}

th {
    color: #3C4559;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#title {
    color:#1D6568;
}

td {
    border: 1px dotted goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#table-label {
    color: white;
    background-color: #1D6568;
}